body {
    background: #222;
}

main {
    display: flex;
    flex-direction: column;
    place-items: center;
    max-width: 800px;
    margin: 0 auto;
    font-family: system-ui;
    color:#eee;    
}

main img {
    width: 320px;
    height: auto;
}

main button {
    padding: 8px 12px;
    margin: 25px;
    background: transparent;
    border: 2px solid #eee;
    color: #eee;
    width: 200px;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: bold;
  }
  
button:hover {
    background: #eee;
    color: #222;
  }